{% extends "layout.njk" %}

{% block content %}
<div class="chefs-list">
    <div class="cards-chefs">
    {% for chef in chefs %}
        <div class="card-chefs">
            <div class="show-chef">
                <img src="{{chef.avatar_url}}" alt="Image of {{chef.name}}" class="img-chef">
                <div>
                    <p>{{chef.name}}</p>
                    <p>{{chef.total}} receitas</p>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
</div>
    
{% endblock %}