{% extends "layout.njk" %}

{% block search %}

    <div class="search">
        <form action="/main/search" method="get">
            <input type="text" name="filter" placeholder="Buscar uma receita" value="{{filter}}">
            <button type="submit">Buscar</button>
        </form>
    </div>
    
{% endblock %}

{% block content %}

<div class="cards">

    {% for item in items %}

    <div class="card" id="{{item.id}}">
        <div class="card-image">
            <img src="{{ item.image }}" alt="Image of {{ item.title }}">
        </div>
        <div class="card-content">
            <h4>{{ item.title }}</h4>
        </div>
        <div class="card-name">
            <p>por {{ item.chef }}</p>
        </div>
    </div>

    {% endfor %}

</div>

<script src="script.js"></script>
{% endblock %}
        